.flex {
	// @include display(flex);
	
}

.three-column {
	@include display(flex);
	text-align: center;
}

.max-width {
	max-width: 100% !important;
}

.two-third-width {
	max-width: 66.666666666% !important;
}

.no-float {
	float: none !important;
}